/* Ejercicio 1 */
#divEj1{
    width: 100%;
    background-color: lightblue;

    > *{
        background-color: bisque;
        position: static;
        margin: 50px;
        padding: 50px;
    }
}

/* Ejercicio 2 */
#sectionEj2{
    background-color: rgb(255, 255, 90);
    > div{
        width: 200px;
        height: 200px;
        background-color: aquamarine;
    
        > div{
            width: 100px;
            height: 100px;
            background-color: blueviolet;
            top: 10px;
            position: relative;
        }
    }
}

/* Ejercicio 3 */
#divEj3{
    width: 100%;
    height: 200px;
    top: 100px;
    left: 50px;
    position: relative;
    background-color: aqua;
    > div{
        width: 50px;
        height: 50px;
        top: 100px;
        position: absolute;
        background-color: rgb(138, 255, 115);
    }
}

/* Ejercicio 4 */
#sectionEj4{
    background-color: red;
    > div > div{
        position: fixed;
        top: 0px;
        left: calc(100vw - 100px);
    }
}

/* Ejercicio 5 */
#sectionEj5{
    > div{
        width: 400px;
        height: 200px;
        background-color: yellow;
        clear: both;
        
        > div{
            width: 100px;
            height: 100px;
            background-color: rgb(0, 255, 55);
            float: left;
        }
    }
}

/* Ejercicio 6 */
#sectionEj6{
    > div {
        width: 400px;
        height: 100px;
        overflow: auto;

        > div {
            width: 1000px;
            height: 600px;
            background-color: beige;
        }
    }
}

/* Ejercicio 7 */
#sectionEj7{
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    float: left;
    
    > header {
        width: 100%;
        height: 20px;
        position: fixed;

        top: 0px;
        left: 0px;
        background-color: brown;
    }

    > div {
        width: 100px;
        height: 100px;
        background-color: purple;

        position: relative;
        top: 0px;
        left: 100px;
    }

    > footer {
        width: 100px;
        height: 100px;
        background-color: black;
        position: absolute;
        
    }
}
nav {
    float: left;
    background-color: orangered;
}