@import url(colores.css);

*{
    margin: 0px;
    padding: 0px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--colorGeneral);
}

body{
    background-color: var(--backgroundColorBody);
}

header{
    width: 100vw;
    height: 50px;

    background-color: var(--backgroundColorHeader);
    
    > nav{
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

footer{
    width: 100vw;
    height: 50px;

    background-color: var(--backgroundColorFooter);

    > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

#seccionPrincipal{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > img {
        width: 400px;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        
    }
}

#seccionProductos{
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    > article {
        width: 400px;
        height: 600px;


        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;

        border-radius: 20px;
        border: 2px black solid;

        background-color: var(--backgroundColorArticle);

        > img {
            width: 100%;

            border-radius: 20px 20px 0px 0px;
        }

        > div {        
            height: 100%;

            padding: 10px;

            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-evenly;
        }
    }
}

h1{

}

h2{

}

h3{

}

p{

}

input{

}

label{

}

textarea{

}

li{
    
}

form{
    width: 500px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    > div {
        width: 100%;   
    }
}

a{
    text-decoration: underline;
}

button{
    width: fit-content;
    
    padding: 10px;

    border-radius: 5px;

    background-color: var(--backgroundColorButton);
}

.destacado{

}

.tarjeta-producto{

}

.boton-compra{

}

.error-formulario{

}

.centrado{

}