@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

body {
    background-color: var(--body-background);
}

header {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background);

    > div {
        width: 600px;
        display: flex;
        justify-content: space-between;
        
        > a {
            font-size: 18px;
            text-decoration: underline;
            color: inherit;
        }
    }

    > #logo {
        width: 100px;
        height: 100px;
    }

    > #idioma {
        width: 40px;
        height: 40px;
        border: 2px black solid;
        border-radius: 100px;
    }
}

#seccionIntroduccion {
    height: 800px;
    height: calc(100vh - 100px);
    
    background-image: url("/img/cabecera_museo2.jpg");
    background-size: cover;
    background-position: 0px -150px;

    font-size: 30px;
    color: var(--introduccion-color);

    > div {
        width: 800px;

        padding-top: 600px;
        padding-left: 100px;

        > p {
            border-radius: 10px;

            padding: 20px;

            background-color: var(--introduccion-text-background);
        }
    }
}

#exposiciones {
    width: 100%;
    height: 1000px;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    gap: 120px;

    > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 80px;
        
        > .card {
            width: 360px;
            height: 500px;
            
            background-color: var(--card-background);
            
            border-radius: 40px;
            box-shadow: 0px 0px 40px black;
            
            display: flex;
            flex-direction: column;
    
            > img {
                height: 190px;
                border-radius: 40px 40px 0px 0px;
            }
            
            > div {
                height: 100%;
    
                padding-left: 20px;
                padding-right: 20px;
    
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            
            > div > button {
                width: 200px;
                height: 40px;

                display: flex;
                align-items: center;
                justify-content: space-evenly;

                border: 2px var(--productos-boton-border) solid;
                border-radius: 15px;

                background-color: var(--productos-boton-background);

                font-size: 16px;
                color: var(--productos-boton-color);
            }
        }
    }
}

#colecciones {
    width: 100%;
    height: 800px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 80px;
        
        > .card {
            width: 360px;
            height: 500px;
            
            background-color: var(--card-background);
            
            border-radius: 40px;
            box-shadow: 0px 0px 40px black;
            
            display: flex;
            flex-direction: column;
    
            > img {
                height: 190px;
                border-radius: 40px 40px 0px 0px;
            }
            
            > div {
                height: 100%;
    
                padding-left: 20px;
                padding-right: 20px;
    
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            
            > div > button {
                width: 200px;
                height: 40px;

                display: flex;
                align-items: center;
                justify-content: space-evenly;

                border: 2px var(--productos-boton-border) solid;
                border-radius: 15px;

                background-color: var(--productos-boton-background);

                font-size: 16px;
                color: var(--productos-boton-color);
            }
        }
    }
}


footer {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--footer-background);

    font-size: 14px;

    > ul {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0;
    }

    > ul li a {
        text-decoration: underline;
        color: inherit;
    }

    > ul li:not(:last-child)::after{
        content: "|";
        margin-left: 10px;
    }
}