div {
    width: 50px;
    height: 200px;
    background-color: red;

    overflow: visible;

    display: flex;
    align-items: center;
    justify-content: start;

    > div {
        width: 100px;
        height: 75px;
        background-color: blue;
        flex-shrink: 0;
    }
}

#visabuelo2{
    width: 300px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 255, 0);
}

#abuelo2, #abuelo3{
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

#padre2, #padre3{
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
}

#hijo2, #hijo3{
    width: 25px;
    height: 25px;
}