:root {
    --body-background-color: #fff5e7ff;


    --text-font-color: rgba(16, 39, 0, 1);


    --header-font-color: #631800;
    /* --header-font-color: rgba(255, 255, 255, 1); */


    --header-background-color: rgb(231, 178, 118, 1);
    --header-background-color: rgba(255, 211, 160, 1);
    --header-background-color: rgba(214, 255, 180, 1);


    /* --producto-background-color: rgb(255, 158, 67); */
    --producto-background-color: rgba(255, 226, 199, 1);
    --producto-background-color: #e4d6bbff;


    /* --producto-button-backgroun-color: rgba(134, 22, 22, 1); */
    /* --producto-button-backgroun-color: rgba(134, 72, 22, 1); */
    --producto-button-backgroun-color: #d18b3cff;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;

    /* font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; */
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}
p, button {
    color: var(--text-font-color);
}
body {
    background-color: var(--body-background-color);
}

header {
    width: 100%;
    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--header-background-color);

    font-size: 20px;

    a {
        font-weight: 600;
        text-decoration: none;
    }

    > #logo {
        width: 80px;        
    }

    img {
        width: 36px;
    }
    

    > div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;

        > a{
            color: var(--header-font-color);
        }
    }
}

/* #banner{
    width: 100%;
    height: 700px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    
} */

#banner {
    width: 100%;
    height: 700px;
    background-size: 100vw auto;
    background-position: bottom;
    background-image: url(imagenes_exportadas/banner4.jpg);
}

#productos {
    width: auto;

    padding: 50px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;

    > #producto {
        width: 400px;
        height: 600px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: var(--producto-background-color);

        border-radius: 50px;

        box-shadow: 0px 0px 30px 0px;

        > img {
            width: 100%;
            min-height: 360px;

            border-radius: 50px 50px 0px 0px;
        }

        > div {
            height: 100%;
            padding: 20px;

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;

            > button {
                width: 160px;
                height: 40px;

                display: flex;
                align-items: center;
                justify-content: space-evenly;

                border-radius: 20px;

                background-color: var(--producto-button-backgroun-color);
            }
        }
    }
}

